body{
    background-color: #202020;
    color: whitesmoke;

}

.navbar > a{
    text-decoration: none;
    color: whitesmoke;
}

.h1-index{
    max-width: 1200px;
    align-self:center ;
    margin-top: 25px;
    margin-bottom: 25px;
}

.navbar a:hover{
    color: aquamarine;
}

.navbar{
    background-color: #404040;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
}
.container-nav{
    max-width: 1200px;
    margin: auto;
    padding: 10px 5px;
}

.container-main{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 20px 0;   
}

.input{
    display: block;
    padding: 10px;
    text-align: center;
    background-color: wheat;
}



.img-index{
    align-self: center;
    margin-bottom: 25px;
}

.card{
    background-color: #404040;
    padding: 10px;
    margin-bottom: 10px;
    color: #202020;
    width: 100%;
}

.card a{
    text-decoration: none;
    color: #e8e1e1;
}

.card a :hover{
    
color: aquamarine;
}